ul, li{list-style: none;}
.navbar h1 img{height: 20px;}
.nav_wrap {
    text-align: center;
}
/* 폰트 */
#gnb{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2rem;
}
/* {font-family: 'Nanum Gothic Coding', monospace;} */

@font-face {
    font-family: 'Headline R';

    src: url('/pwa/font/HMKMRHD.TTF');
    src:  url('/pwa/font/HMKMRHD.TTF') format('truetype');
}

    #portfolio h2 {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Headline R';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

/* 스크롤 터지게 하는 */
section{ height: 100vh; }

.scrollPage.active a {color: red !important;}